body {
    margin: 0 0;
    background-color: #171717;
    font-family: Arial, sans-serif;
}


.test-0-logo {
    width: 140px;
    height: 72px;
    flex-shrink: 0;
    margin-top: 20;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.logo {
    margin-left: 20;
    display: flex;
    width: 300px;
    height: 71px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E3DDEF;
    font-size: 30px;

}

.test-0-nav-1 {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E3DDEF;
    font-size: 30px;

}

.test-0-nav-3 {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E3DDEF;
    font-size: 30px;

}

.test-0-nav-2 {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E3DDEF;
    font-size: 30px;

}

.test-0-nav-4 {
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #E3DDEF;
    font-size: 30px;

}

.cont {
    margin-top: 50;
    color: #E3DDEF;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cont_1{
    margin-left: 100;
    margin-right: 100;
}
.text_1 {
    font-size: 30px;
    margin-top: 5;
    text-align: center;
}

.text_2,
.text_3 {
    font-size: 20px;
    margin-top: -10;
}




.podval {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70;
    margin-top: 50;
}

.podv {
    color: #E3DDEF;
    font-size: 24px;
    margin: 40;
}